body{
font-family: Arial, sans-serif;
background:#f2f3f7;
padding:15px;
margin:0;
}

h1{
text-align:center;
margin-bottom:5px;
}

.aviso{
background:#ff3b3b;
color:white;
padding:15px;
border-radius:12px;
text-align:center;
font-size:24px;
font-weight:bold;
margin-bottom:20px;
}

.producto{
background:white;
padding:15px;
margin-top:20px;
border-radius:18px;
box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

.producto h2{
margin-top:0;
}

.opciones{
display:flex;
gap:10px;
margin-bottom:15px;
flex-wrap:wrap;
}

select{
padding:10px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
}

.colores{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.colorItem{
background:#fafafa;
padding:12px;
border-radius:14px;
display:flex;
justify-content:space-between;
align-items:center;
font-weight:bold;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.contador{
display:flex;
align-items:center;
gap:10px;
}

.contador button{
background:black;
color:white;
border:none;
padding:10px 16px;
font-size:20px;
border-radius:10px;
font-weight:bold;
}

.numero{
font-size:20px;
width:30px;
text-align:center;
font-weight:bold;
}

.enviar{
position:fixed;
bottom:0;
left:0;
right:0;
width:100%;
padding:22px;
font-size:24px;
background:#25D366;
color:white;
border:none;
font-weight:bold;
box-shadow:0 -4px 15px rgba(0,0,0,0.2);
}
