body{
font-family: Arial, sans-serif;
background:#f5f6fa;
padding:15px;
margin:0;
}

h1{
text-align:center;
}

.aviso{
background:red;
color:white;
padding:12px;
border-radius:10px;
text-align:center;
font-size:22px;
}

.producto{
background:white;
padding:15px;
margin-top:20px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.opciones{
display:flex;
gap:10px;
margin-bottom:15px;
}

select{
padding:8px;
border-radius:8px;
border:1px solid #ccc;
}

.colores{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.colorItem{
background:#fafafa;
padding:10px;
border-radius:12px;
display:flex;
justify-content:space-between;
align-items:center;
font-weight:bold;
}

.contador{
display:flex;
align-items:center;
gap:10px;
}

.contador button{
background:black;
color:white;
border:none;
padding:8px 14px;
font-size:18px;
border-radius:8px;
}

.numero{
font-size:18px;
width:25px;
text-align:center;
}

.enviar{
position:fixed;
bottom:0;
left:0;
right:0;
width:100%;
padding:20px;
font-size:22px;
background:#25D366;
color:white;
border:none;
font-weight:bold;
}
