body{
font-family: Arial;
background:#f2f3f7;
padding:15px;
margin:0;
}

h1{text-align:center;}

.aviso{
background:red;
color:white;
padding:14px;
border-radius:12px;
text-align:center;
font-size:22px;
margin-bottom:15px;
}

.pedidoActual{
background:#111;
color:#0f0;
padding:15px;
border-radius:15px;
margin-bottom:20px;
font-weight:bold;
}

.producto{
background:white;
padding:15px;
margin-top:20px;
border-radius:18px;
box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

.opciones{
display:flex;
gap:10px;
margin-bottom:15px;
}

select{
padding:10px;
border-radius:10px;
}

.colores{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.colorItem{
background:#fafafa;
padding:10px;
border-radius:12px;
display:flex;
justify-content:space-between;
align-items:center;
font-weight:bold;
}

.contador button{
background:black;
color:white;
border:none;
padding:8px 14px;
font-size:18px;
border-radius:8px;
}

.numero{
font-size:18px;
margin:0 8px;
}

.guardar{
width:100%;
padding:15px;
font-size:18px;
margin-top:15px;
background:#333;
color:white;
border:none;
border-radius:12px;
}

.enviar{
position:fixed;
bottom:0;
left:0;
right:0;
padding:20px;
font-size:22px;
background:#25D366;
color:white;
border:none;
font-weight:bold;
}
