body{
font-family:'Segoe UI', Arial;
background:#eef1f6;
margin:0;
padding:15px;
}

h1{text-align:center;margin-bottom:5px;}

.aviso{
background:linear-gradient(90deg,#ff3b3b,#ff0000);
color:white;
padding:16px;
border-radius:14px;
text-align:center;
font-size:22px;
font-weight:bold;
margin-bottom:18px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.pedidoActual{
background:#0f172a;
color:#00ff88;
padding:18px;
border-radius:16px;
margin-bottom:20px;
font-weight:bold;
box-shadow:0 6px 18px rgba(0,0,0,0.3);
}

.producto{
background:white;
padding:18px;
margin-top:25px;
border-radius:20px;
box-shadow:0 8px 25px rgba(0,0,0,0.15);
}

.opciones{
display:flex;
gap:10px;
margin-bottom:15px;
flex-wrap:wrap;
}

select{
padding:12px;
border-radius:12px;
border:1px solid #ccc;
font-size:16px;
background:#f8f8f8;
}

.colores{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.colorItem{
background:#f9fafc;
padding:12px;
border-radius:14px;
display:flex;
justify-content:space-between;
align-items:center;
font-weight:bold;
box-shadow:0 3px 8px rgba(0,0,0,0.12);
font-size:15px;
}

.contador{
display:flex;
align-items:center;
gap:8px;
}

.contador button{
background:#111;
color:white;
border:none;
width:36px;
height:36px;
font-size:20px;
border-radius:10px;
font-weight:bold;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 3px 6px rgba(0,0,0,0.3);
}

.contador button:active{transform:scale(0.9);}

.numero{
font-size:20px;
font-weight:bold;
width:28px;
text-align:center;
}

.guardar{
width:100%;
padding:16px;
font-size:19px;
margin-top:18px;
background:#111;
color:white;
border:none;
border-radius:14px;
font-weight:bold;
box-shadow:0 4px 12px rgba(0,0,0,0.3);
}

.guardar:active{transform:scale(0.97);}

/* BOTON WHATSAPP FLOTANTE */
.btn-wsp{
position:fixed;
bottom:20px;
right:20px;
background:linear-gradient(135deg,#25D366,#1ebe5d);
color:white;
border:none;
border-radius:50px;
padding:18px 26px;
font-size:18px;
font-weight:bold;
box-shadow:0 8px 25px rgba(0,0,0,0.35);
z-index:999;
display:flex;
align-items:center;
gap:10px;
}

.btn-wsp:hover{transform:scale(1.05);}
.btn-wsp:active{transform:scale(0.95);}

.instrucciones{
background:white;
padding:18px;
border-radius:18px;
margin-bottom:20px;
box-shadow:0 6px 18px rgba(0,0,0,0.15);
font-size:16px;
line-height:1.6;
}

.instrucciones h3{
margin-top:0;
margin-bottom:8px;
text-align:center;
}

.borrarPedido{
margin-top:10px;
margin-bottom:12px;
padding:10px 14px;
border:none;
border-radius:10px;
background:#ff3b3b;
color:white;
font-weight:bold;
cursor:pointer;
box-shadow:0 3px 8px rgba(0,0,0,0.25);
}

.borrarPedido:active{
transform:scale(0.95);
}




